*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #fff;
}
.page{
   
    width: 100%;
    height: 100%;
    position: relative;
}
.page .video{
    width: 100%;
    height: 100%;
    
}
.overlay{
   
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.content{
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #fff;
}
.flip-clock{
    margin-top: 35px;
}

/* styles.css */

.flip-clock {
    --fcc-flip-duration: 0.5s; /* transition duration when flip card */
    --fcc-digit-block-width: 40px; /* width of digit card */
    --fcc-digit-block-height: 60px; /* height of digit card, highly recommend in even number */
    --fcc-digit-font-size: 30px; /* font size of digit */
    --fcc-digit-color: white; /* color of digit */
    --fcc-label-font-size: 10px; /* font size of label */
    --fcc-label-color: #ffffff; /* color of label */
    --fcc-background: black; /* background of digit card */
    --fcc-divider-color: white; /* color of divider */
    --fcc-divider-height: 1px; /* height of divider */
    --fcc-separator-size: 6px; /* size of colon */
    --fcc-separator-color: #fff; /* color of colon */
  }